Repository CSE210-fa25-team09/Warmup-Project, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, configuration, dependencies, tests

Create placeholder test workflow
  .github/workflows/main.yml
Labels: github-actions, configuration

Create deployment test
  .github/workflows/permissions-test.yml
Labels: github-actions, configuration

Update README.md
  README.md
Labels: documentation

Add MIT License to the project
  LICENSE
Labels: none

README, Pull request, and contributing
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
Labels: documentation

README
  README.md
Labels: documentation

feat(frontend): Add initial implementation of frontend with HTML, CSS, and JavaScript
  index.html
  script.js
  style.css
Labels: none

Add initial README for Warmup-Project
  README.md
Labels: documentation

remove unnecessary div
  index.html
  style.css
Labels: none

Implement emoji picker toggle
  index.html
  script.js
  style.css
Labels: none

feature: integrate emoji-to-English translation using Emoji API
  script.js
Labels: none

update style for mobile support
  index.html
  style.css
Labels: none

reorganize head
  index.html
Labels: none

fix W3C error
  index.html
Labels: none

feature: emoji hardcoded fallback in case api fails
  script.js
Labels: none

pull requests template
  PULL_REQUESTS_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Labels: documentation

fix location
  .github/PULL_REQUESTS_TEMPLATE.md
  PULL_REQUESTS_TEMPLATE.md
Labels: documentation

fix
  .github/PULL_REQUESTS_TEMPLATE.md
  .github/pull_request_template.md
Labels: documentation

Add missing changes to PR template
  .github/pull_request_template.md
Labels: documentation

logic decoupling
  index.html
  script.js
  translators/fallbackTranslator.js
  translators/llmTranslator.js
  translators/router.js
Labels: none

indentation fix
  translators/llmTranslator.js
  translators/router.js
Labels: none

Add basic git ignore
  .gitignore
Labels: none

Integrate with LLM
  package-lock.json
  package.json
  translators/llmTranslator.js
Labels: configuration, dependencies

Move prompt to different file
  translators/emojiPrompt.md
  translators/llmTranslator.js
Labels: documentation

feat: API-first emoji naming with JSON fallback + cache
  fallback.json
  script.js
Labels: configuration

feat: make panel scrollable
  style.css
Labels: none

Add a button to toggle whether to use LLM
  index.html
  script.js
  style.css
  translators/router.js
Labels: none

add llm for backend
  .gitignore
  llm_backend/emojiPrompt.md
  llm_backend/package-lock.json
  llm_backend/package.json
  llm_backend/server.js
Labels: documentation, configuration

parametrize model
  llm_backend/server.js
Labels: none

working integration
  llm_backend/server.js
  script.js
Labels: none

feat: fixed fetch and not calling api for non-emoji characters now
  index.html
  script.js
Labels: none

fallback mechanism for llm
  llm_backend/server.js
  script.js
Labels: none

add timeout mechanism
  script.js
Labels: none

correct downgrade logic
  llm_backend/server.js
  script.js
Labels: none

deployed to fly but backend not working
  .dockerignore
  .github/workflows/fly-deploy.yml
  Caddyfile
  Dockerfile
  entrypoint.sh
  fly.toml
  frontend/fallback.json
  frontend/index.html
  frontend/script.js
  frontend/style.css
  llm_backend/server.js
Labels: github-actions, configuration

feat: fixed handling of emojis and non-emojis as input characters for translation
  script.js
Labels: none

Add huggingface backend and LLM toggle
  index.html
  script.js
  style.css
Labels: none

Update the text on the LLM toggle
  script.js
Labels: none

fix issue with missing space between emoji translations
  script.js
Labels: none

stable backend
  llm_backend/server.js
  script.js
Labels: none

.github/labeler.yml:

# Configuration for auto-labeling PRs based on changed files

documentation:
  - '**/*.md'
  - 'docs/**/*'

github-actions:
  - '.github/workflows/**'
  - '.github/**/*.yml'
  - '.github/**/*.yaml'

configuration:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.toml'
  - '**/*.ini'
  - '**/.*rc'
  - '**/.*.json'

dependencies:
  - 'package.json'
  - 'package-lock.json'
  - 'requirements.txt'
  - 'Pipfile'
  - 'Pipfile.lock'
  - 'go.mod'
  - 'go.sum'
  - 'Gemfile'
  - 'Gemfile.lock'

tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - '**/test/**'
  - '**/tests/**'
  - '**/__tests__/**'
